{
	servers {
		protocols h1 h2c
	}
}

:18100 {
	reverse_proxy h2c://worker-a:18100 h2c://worker-b:18100 {
		lb_policy round_robin
		lb_try_duration 5s
		lb_try_interval 250ms
		health_uri /discover
		health_interval 1s
		health_timeout 1s
		health_headers {
			Accept application/vnd.restate.endpointmanifest.v3+json
		}
	}
}
